

td {
  font-size: 0.7em;
}
.status {
  font-weight: bold;
  font-size: 0.7em;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 5px;
  padding-left: 5px;
}
